<div class="demo-main">

  <div class="demo-box">
    Selected date from: {{range.fromDate|date}} to: {{range.toDate|date}}
  </div>
  <button mat-raised-button (click)="reset()">Reset Dates</button>
  <button mat-raised-button (click)="clearFrom()">Clear From</button>
  <button mat-raised-button (click)="clearTo()">Clear To</button>
  <button mat-raised-button (click)="clear()">Clear Dates</button>
  <hr class="demo-rule">
  <div class="demo-box">
    <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #pickerOne></ngx-mat-drp>
  </div>

</div>

